;
; Copyright © 2021 Peter Monks
;
; All rights reserved. This program and the accompanying materials
; are made available under the terms of the Eclipse Public License v2.0
; which accompanies this distribution, and is available at
; http://www.eclipse.org/legal/epl-v20.html
;
; Contributors:
;    Peter Monks - initial implementation
;
; SPDX-License-Identifier: EPL-2.0
;

{:deps
   {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
   {; ---- TOOL ALIASES ----

    ; clj -T:build <taskname>
    :build
      {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.5.3" :git/sha "dbf7321"}
                    com.github.pmonks/pbr            {:mvn/version "2.0.109"}}
       :ns-default build}


    ; ---- OTHER ALIASES ----
    ; clj -M:check
    :check
      {:extra-deps {com.github.athos/clj-check {:git/sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
       :main-opts  ["-m" "clj-check.check"]}

    ; clj -X:test
    :test
      {:extra-paths ["test"]
       :extra-deps  {org.clojure/test.check               {:mvn/version "1.1.0"}
                     io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "48c3c67"}}
       :exec-fn     cognitect.test-runner.api/test}

    ; clj -M:kondo
    :kondo
      {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.10.19"}}
       :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

    ; clj -M:eastwood
    :eastwood
      {:extra-deps {jonase/eastwood {:mvn/version "0.9.9"}}
       :main-opts  ["-m" "eastwood.lint" "{:source-paths,[\"src\"]}"]}

    ; clj -M:outdated
    :outdated
      {:extra-deps {com.github.liquidz/antq {:mvn/version "1.2.0"}}
       :main-opts  ["-m" "antq.core" "--skip=pom"]}

    ; clj -X:codox
    :codox
      {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
       :exec-fn    codox.main/generate-docs
       :exec-args  {:source-paths ["src"]
                    :source-uri   "https://github.com/clj-commons/multigrep/blob/main/{filepath}#L{line}"}}
   }}
